<!DOCTYPE html>
<html>
<head>
  <title>Offer a Ride</title>
  <script type="text/javascript">
    $(function(){
      $(".dmSource li a").click(function() {
        var name = $(this).text();
        var landmarks = <%= raw @ids %>;
        var id;
        $(".source:first-child").text(name);
        $(".source-toggle:first-child").val(name);
        for (var i = 0; i < landmarks.length; i++) {
          if(name == landmarks[i]){
            id = landmarks[i+1];
            break;
          }
        };
        $('.form-control-source').val(id);
        console.log($('.form-control-source').val());
      });
    });
    $(function(){
      $(".dmDest li a").click(function() {
        var name = $(this).text();
        var landmarks = <%= raw @ids %>;
        var id;
        $(".dest:first-child").text(name);
        $(".dest-toggle:first-child").val(name);
        for (var i = 0; i < landmarks.length; i++) {
          if(name == landmarks[i]){
            id = landmarks[i+1];
            break;
          }
        };
        $('.form-control-dest').val(id);

        console.log($('.form-control-dest').val());
      });
    });
  </script>

</head>
<body class="landing">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12">
          <h2>Editing Ride</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="placeholder col-sm-12">
          <h3>Choose the source and destination:</h3>

            <div class="btn-group" role="group">
              <button class="btn btn-default disabled" type="button">Source</button>
              <div class="btn-group">
                <% @landmarks.each do |landmark| %>
                  <button id="drop-togg" class="btn btn-default dropdown-toggle source" data-toggle="dropdown"><%=landmark.name%></span></button> 
                  <ul class="dropdown-menu dmSource" role="menu">
                    <li><a href="#"><%=landmark.name%></a></li>
                  </ul>
                <% end %>
              </div>
              <button class="btn btn-default disabled" type="button">Destination</button>
              <div class="btn-group">
                <% @landmarks.each do |landmark| %>
                  <button id="drop-togg" class="btn btn-default dropdown-toggle dest" data-toggle="dropdown"><%=landmark.name%></span></button> 
                  <ul class="dropdown-menu dmDest" role="menu">
                    <li><a href="#"><%=landmark.name%></a></li>
                  </ul>
                <% end %>
              </div>
              <br><br>
              <%= form_for @ride do |f| %>
              <%= f.hidden_field :source_id, class: "form-control-source"%>
              <%= f.hidden_field :destination_id, class: "form-control-dest"%>
              <h3>Number of Seats in this ride:</h3>
              <%= f.number_field :seatNum, class: "form-control bfh-number", min: 1, max: 5%>
              <h3>Enter a description for this ride (optional):</h3>
              <%= f.text_area :description, class: "form-control", :size => "65%x4%" %>

              <br>
              <%= f.submit "Save Changes", class: "btn btn-primary", type: "submit" %>
              <% end %>
              <%= link_to 'My Rides', '/rides/show' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
 
<%= link_to 'Back', '/rides/show' %>