<body class="landing">
    <div class="container">
        <br></br>
        <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted main-color" contenteditable="false">Personal Info</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Userame</strong></span><%= @user.username %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= @user.created_at.strftime("%d.%m.%Y") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= @user.last_sign_in_at.strftime("%d.%m.%Y") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rank: </strong></span><%= @user.sign_in_count %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender:</strong></span><% if @user.gender == 1 %> <%= "Female" %> <% else %> <%= "Male" %> <% end %></li>
            </ul>
            <div class="panel panel-default">
             <div class="panel-heading">
                <p class="main-color">About my car</p>
            </div>
            <div class="panel-body">Car info goes here.

            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="main-color">Social media</p>
                </div>
                <div class="panel-body"><a href="http://Facebook.com">
                    Facebook</a>
                </div>
            </div>
          
            <ul class="list-group">
                <li class="list-group-item text-muted main-color">Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rides offered</strong></span> 15</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rides joined</strong></span> 13</li>
                
                <li class="list-group-item text-right"><span class="pull-left"><strong>Score</strong></span> <%= @user.points %> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong> Score based on</strong></span> <%= "#{@useratings.count} Reviews" %></li>
                <% if @user.level.blank? %>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Title</strong></span>  <%= "LooPrac Rookie" %></li>
                <% else %>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Title</strong></span>  <%= @user.level %></li>
                <% end %>
                <% if @userating.blank? %>
                    <li class="list-group-item text-right"><span class="pull-left"><strong><%= "Had ride with #{@user.username}?"%> </strong></span>  <%= link_to "Rate #{@user.username}!", new_user_userating_path(@user) %></li>
                <% end %>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="main-color"><%= @user.first_name %>'s Bio</p>
                </div>
                <div class="panel-body"> A description about me.

                </div>
            </div>
        </div>
    </div>
    <br></br>
    </div>
</body>